
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
 
.nameBar{
    color:black;
    font-size: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font-family:cursive;

}
.search{
    font-size:x-large;
}
.bar{
    display:flex ;
    justify-content:space-between;
    background-color: rgb(240, 210, 42);
    width: 100%;
    height: 100px;
     top: 0px; 
    position: sticky;
    border-radius: 20px;
}
 .listMovie1{
 display: grid;  
  justify-content: center; 
 font-size:x-large;
 border: 0px solid rgb(98, 95, 95);
 padding:1px; 
 margin-top: 20px;
 background-color: rgb(217, 213, 213);
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 border-radius: 50px;
 margin-left: 20px;
 margin-right: 20px;
} 
.listMovie1:hover{
    width: 420px;
    padding:10px;
    box-shadow: 0 8px 16px 0 rgb(240, 210, 42), 0 6px 20px 0 rgb(240, 210, 42);
}
.mainMovie{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    /* justify-content:space-between; */
    justify-content: center;
}

.sort{
   height: 100px;
   width:130px;
   background-color:rgb(240, 210, 42);
   color: black;
   /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
   border-radius: 12px;
   margin-top: 0px;
   border-color:rgb(240, 210, 42) ;
   border-top: rgb(240, 210, 42);
   border-bottom: rgb(240, 210, 42) ;
   border-right:rgb(240, 210, 42) ;
   font-family:cursive;
   font-size: 25px;
}
.sort:hover{
    background-color: black; 
    color:azure; 
    border: 2px solid black;
 }
.Home{
    height: 100px;
    width:130px;
    background-color:rgb(240, 210, 42);
    color: black;
    
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    border-radius: 12px;
    margin-top: 0px;
    border-color:rgb(240, 210, 42) ;
    border-top: rgb(240, 210, 42);
    border-bottom: rgb(240, 210, 42) ;
    border-right:rgb(240, 210, 42) ;
    font-family:cursive;
    font-size: 30px;

 }
 .svgHome{
   font-size: xx-large;
 }
 .Home:hover{
    background-color: black; 
    color:azure; 
    border: 2px solid black;
 }
 .Favorite{
    height: 100px;
    width:130px;
    background-color:rgb(240, 210, 42);
    color: black;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    border-radius: 12px;
    margin-top: 0px;
    border-color:rgb(240, 210, 42) ;
    border-top: rgb(240, 210, 42);
    border-bottom: rgb(240, 210, 42) ;
    border-right:rgb(240, 210, 42) ;
    font-family:cursive;
    font-size: 30px;
 }
 .Favorite:hover{
    background-color: black; 
    color:azure; 
    border: 2px solid black;
 }
 .Login{
    height: 100px;
    width:130px;
    background-color:rgb(240, 210, 42);
    color: black;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
border-radius: 12px;
margin-top: 0px;
border-color:rgb(240, 210, 42) ;
border-top: rgb(240, 210, 42);
border-bottom: rgb(240, 210, 42) ;
border-right:rgb(240, 210, 42) ;
font-family:cursive;
font-size: 30px;
}
.Login:hover{
background-color: black; 
color:azure; 
border: 2px solid black;

}
.buttonSearch{
height: 10px;
width:50px;
background-color:rgb(240, 210, 42);
color: black;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
border-radius: 12px;
margin-top: 25px;
border-color:rgb(240, 210, 42) ;
border-top: rgb(240, 210, 42);
border-bottom: rgb(240, 210, 42) ;
border-right:rgb(240, 210, 42) ;
font-family:cursive;
font-size: 30px;
margin-right: 20px;
}
/* .buttonSearch:hover{
background-color: black; 
color:azure; 
border: 2px solid black;
} */
.inputSearch{
height: 40px;
width:250px;
background-color:azure;
color: black;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
border-radius: 12px;
border-color:rgb(240, 210, 42) ;
border-top: rgb(240, 210, 42);
border-bottom: rgb(240, 210, 42) ;
border-right:rgb(240, 210, 42) ;
font-family:cursive;
font-size: 22px;
margin-top: 20px;

}
.back1{
display: grid;
justify-content:center;
font-size: x-large;
background-color: black;
color: azure;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 12px;
width: 100px;
height: 50px;
margin-top: 40px;
margin-left: 70px;

}
.back1:hover{
   
   background-color: rgb(240, 210, 42); 
   color:black; 
   border: 2px solid black;
}

.AddFavorite{
display: flex;
justify-content: center;
   /* margin-left: 700px;
   margin-bottom: 200px; */
   font-size: large;
   background-color: black;
   color: azure;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 12px;
width: 100px;
height: 50px;
margin-left: 190px;
margin-top: -60px; 
} 
a{
   text-decoration: none;
color: azure;

}
.Trailer{
   display: flex;
height: 50px;
width: 50px;

margin-top: 710px;
font-size: 30px;
color: black;
  
}
.listMovieFavorite{
display: grid;
grid-template-columns: 20% 10% 50%;
justify-content:center;
font-size: x-large;
margin-top: 100px;
 }
 
 .AddFavorite:hover{
background-color: rgb(240, 210, 42); 
color:black; 
border: 2px solid black;
 }
 .mainMovie2{
   display: grid;
   justify-content: center;
   margin-left: 300px;
}
 .listMovie2{
display: grid;  
justify-content: center; 
font-size:x-large;
border: 0px solid rgb(98, 95, 95);
padding:10px; 
margin-top: 20px;
background-color: rgb(217, 213, 213);
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius: 50px;
width: 500px;

margin-left: 100px;

}
.img1{
   margin-left: 90px;
}
.listMovie3{
   display: grid;  
  justify-content: center; 
 font-size:x-large;
 border: 0px solid rgb(98, 95, 95);
 padding:1px; 
 margin-top: 20px;
 background-color: rgb(217, 213, 213);
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 border-radius: 50px;
}
.darkMode{
   height: 50px;
   width:100px;
   background-color:rgb(240, 210, 42);
   color: black;
   /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
border-radius: 12px;
margin-top: 0px;
border-color:rgb(240, 210, 42) ;
border-top: rgb(240, 210, 42);
border-bottom: rgb(240, 210, 42) ;
border-right:rgb(240, 210, 42) ;
font-family:cursive;
font-size: 50px;
height: 100px;
}
.darkMode:hover{
   background-color: black; 
   color:azure; 
   border: 2px solid black;
   
   }
  .login1{
   display: grid;
   justify-content: center;
   margin-top: 200px;
  }
  .h1login{
   color:black;
   font-size: 55px;
font-family:cursive;
  }
  .inputLogin1{
   font-size:25px;
   border-radius: 12px;

  }
  .inputLogin2{
   font-size:25px;
   border-radius: 12px;

  }
  .loginButton{
   background-color: black;
   color: azure;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 12px;
   font-size: 25px;
  }
  .loginButton:hover{
   background-color: rgb(240, 210, 42); 
color:black; 
border: 2px solid black;
}
  .reg1{
   background-color: black;
   color: azure;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 12px;
   font-size: 25px;
  }
  .reg1:hover{
   background-color: rgb(240, 210, 42); 
   color:black; 
   border: 2px solid black;
   
}
.reg{
   display: grid;
   justify-content: center;
   margin-top: 200px;
}
.h1reg{
   color:black;
   font-size: 55px;
font-family:cursive;
}
.input1{
   font-size:25px;
   border-radius: 12px;
}
.input2{
   font-size:25px;
   border-radius: 12px;
}
.reg2{
   background-color: black;
   color: azure;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 12px;
   font-size: 25px;
}
.reg2:hover{
   background-color: rgb(240, 210, 42); 
   color:black; 
   border: 2px solid black;
}
.hide {
   display: none;
   font-size: 15px;
   font-family:cursive;
 }
 
 .inputLogin1:hover + .hide {
   display: block;
   color: red;
 }
 .hide1 {
   display: none;
   font-size: 15px;
   font-family:cursive;
 }
 
 .inputLogin2:hover + .hide1 {
   display: block;
   color: red;
 }