.nameBar{
    color: rgb(9, 200, 5);
    font-size: 50px;
}
.search{
    font-size:xx-large;
}
.bar{
    display:flex ;
    justify-content:space-between;
    background-color: rgb(198, 21, 21);
    width: 1500px;
    height: 70px;
}
 .listMovie{
 display: grid;  
  justify-content: center; 
 font-size:large;
 border: 3px solid rgb(98, 95, 95);
 padding:10px;
 margin-top: 50px;
} 
.mainMovie{
    display: flex;
    justify-content:space-between;
    
}
.listMovie:hover{
    width: 350px;
    padding:20px;
}
.sort{
width: 100px;
}